streamlit==1.41.1
speechrecognition==3.14.3
pyttsx3==2.98
langchain-groq==0.3.2
langchain==0.3.25
langchain-core==0.3.61
python-dotenv==1.1.0
pydantic==2.10.6
pydantic_core==2.27.2
PyYAML==6.0.2
requests==2.32.3
SQLAlchemy==2.0.40
tenacity==9.0.0
